html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #e5e5e5;
}
#container {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	margin-top: 10px;
	box-shadow: 0 1px 2px rgba(0,0,0,3);


	div{
		position: relative;
		float: left;
		width: 400px;
		height: 400px;
		overflow: hidden;
		margin: 10px;
		img{
			display: block;
			height: 100%;
			width: 100%;
			transform: translateZ(0);
		}
	}

	div:hover{
		z-index: 1;
		transform: scale(1.5,1.5);
			transition: transform .7s;
	}
}

.slideshow-container {
  height: 400px;
  position: relative;
  overflow: hidden;

  .mySlides {
    width:  100%;
    height: 100px;
    z-index: 0;
    display: none;
  }
}

#menubuttons{
    height: 100%;
    display: flex;
    justify-content: space-around;
  button{
    width: 2000px;
    height: 50px;
  }

}


